.navbar-title{
  letter-spacing: .25rem;
  font-weight: 500;
  font-variant: small-caps;
  color: var(--color-1) !important;
  text-decoration: none;
}

.navbar-container{
  background-color: var(--color-3);
}

label, .card-header, .form-control{
  font-variant: small-caps;
}

.card-text{
  text-align: justify;
}

.card-img-top{
  max-height: 13rem;
  max-width: 10rem;
}

.modify:hover{
  background-color: var(--color-2);
  border-radius: 20%;
  cursor: pointer;
}